node_modules/

*.log

.next/

.env
.env.local

toolproof-563fe-*.json

C:\Users\renes\computing\toolproof\ts\packages\shared\src\firebaseAdminInit.ts

venv
.venv
__pycache__
temp
.langgraph_api
gcp-key.json
.DS_Store
